RewriteEngine On

# Если файл или папка существуют, то их не обрабатывать через .htaccess
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Переписывать все запросы к index.php
RewriteRule ^(.*)$ index.php [QSA,L]
