<IfModule mod_rewrite.c>
    RewriteEngine On

    # Блокируем доступ к файлам с расширением .php напрямую
    RewriteCond %{THE_REQUEST} \.php[\s?] [NC]
    RewriteRule ^ - [F,L]

    # Перенаправление для "красивых" URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?path=$1 [L,QSA]
</IfModule>
